i {
  cursor: pointer;
}

.type-buttons {
  font-size: 100px;
}

.type-navbar {
  transition: ease-in-out;
  transition-duration: 0.7s;
  font-size: 30px;
  margin: 15px;
}

@media only screen and (max-width: 700px) {
  .type-buttons {
    font-size: 40px;
  }

  .type-navbar {
    transition: ease-in-out;
    transition-duration: 0.7s;
    font-size: 20px;
    margin: 5px;
  }
}
