

$fundamental-palette : (
  red-movies: #d22c2d,
  green-books: #6ec95e,
  blue-music: #4c4fe1,
  yellow-tvseries: #f5e94f,
  navbar-beige : #FFC7A0
);

$red-shades : (
  text-on-red: #FFFFFF,
  accent: #900000,
  light: #FF9A87
);


$green-shades : (
  text-on-green: #030202,
  accent: #005400,
  light: #DEF8D6
);


$blue-shades : (
  text-on-blue: #FFFFFF,
  accent: #0F545B,
  light: #9AB6BA
);

$yellow-shades : (
  text-on-yellow: #3A3131,
  accent: #996E49,
  light: #F9F1CB
);

$beige-shades : (
  text-on-beige: #3A3131,
);





