@import '../../../../styles/color-palette.scss';

i {
  font-size: 150px ;
  position: fixed;
  float: right;
  bottom: 300px;

}

.type-movies {
  i {
    color: map-get($fundamental-palette, red-movies);
  }
}

.type-music {
  i {
    color: map-get($fundamental-palette, blue-music);
  }
}

.type-tvseries {
  i {
    color: map-get($fundamental-palette, yellow-tvseries);
  }
}

.type-books {
  i {
    color: map-get($fundamental-palette, green-books);
  }
}
