.section-cont {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  width: 80%;
  margin: auto;
}

mma-card {
  margin: 30px;
}

.section-item:last-child {
  margin-bottom: 100px;
}
