<div class="container px-4">
  <div class="row h-100 gx-5">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-2">
      <mma-home-button
        [id]="'red'"
        [class]="'p-3 content d-flex justify-content-center align-items-center'"
        [class1]="'bi bi-film'"
      >
      </mma-home-button>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-2">
      <mma-home-button
        [id]="'green'"
        [class]="'p-3 content d-flex justify-content-center align-items-center'"
        [class1]="'bi bi-book'"
      >
      </mma-home-button>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-2">
      <mma-home-button
        [id]="'yellow'"
        [class]="'p-3 content d-flex justify-content-center align-items-center'"
        [class1]="'bi bi-tv'"
      >
      </mma-home-button>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-2">
      <mma-home-button
        [id]="'blue'"
        [class]="'p-3 content d-flex justify-content-center align-items-center'"
        [class1]="'bi bi-music-player-fill'"
      >
      </mma-home-button>
    </div>
  </div>

  <!--
<div class="container px-4">
  <div class="row h-100 gx-5">
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-2">
      <div
        id="red"
        class="p-3 content d-flex justify-content-center align-items-center"
        (click)="navigateTo('/movies')"
      >
        <i class="bi bi-film"></i>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-2">
      <div
        id="green"
        class="p-3 content d-flex justify-content-center align-items-center"
        (click)="navigateTo('/books')"
      >
        <i class="bi bi-book"></i>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-2">
      <div
        id="yellow"
        class="p-3 content d-flex justify-content-center align-items-center flex-column"
        (click)="navigateTo('/tv-series')"
      >
        <i class="bi bi-tv"></i>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-6 p-2">
      <div
        id="blue"
        class="p-3 content d-flex justify-content-center align-items-center"
        (click)="navigateTo('/music')"
      >
        <i class="bi bi-music-player-fill"></i>
      </div>
    </div>
  </div>
</div> -->
</div>
