@import "../../../../styles/color-palette.scss";

.container {
  min-height: 78vh;
}

.row {
  height: 50vh;
}

.row {
  min-height: 75vh;
}

.content {
  height: 100%;
  cursor: pointer;
  border-radius: 20px;
}
