@import "../../../../styles/color-palette.scss";

.header__toolbar {
  // background-color: map-get($fundamental-palette, navbar-beige);
  background-color: red;
  display: flex;
  width: 100%;
}

.title-center {
  text-align: end;
}

.example-spacer {
  flex: 1 1 auto;
}

button {
  background-color: map-get($beige-shades, text-on-beige);
}

.toolbar-item {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar-item:first-child {
  justify-content: start;
}

.toolbar-item:last-child {
  justify-content: end;
}
