<mat-toolbar class="header__toolbar">
  <div class="toolbar-item">
    <mat-icon>track_changes</mat-icon>
  </div>
  <span class="example-spacer"></span>
  <div class="toolbar-item">
    <mma-icon
      *ngIf="currentUrl != '/home'"
      [mediaClass]="'bi bi-house-door-fill'"
      [type]="'type-navbar'"
      (click)="navigateTo('/home')"
    ></mma-icon>
    <mma-icon
      [mediaClass]="'bi bi-film'"
      [type]="'type-navbar'"
      (click)="navigateTo('/movies')"
    ></mma-icon>
    <mma-icon
      [mediaClass]="'bi bi-book'"
      [type]="'type-navbar'"
      (click)="navigateTo('/books')"
    ></mma-icon>
    <mma-icon
      [mediaClass]="'bi bi-tv'"
      [type]="'type-navbar'"
      (click)="navigateTo('/tv-series')"
    ></mma-icon>
    <mma-icon
      [mediaClass]="'bi bi-music-player'"
      [type]="'type-navbar'"
      (click)="navigateTo('/music')"
    ></mma-icon>

    <mma-icon
      *ngIf="currentUrl != '/home'"
      [mediaClass]="'bi bi-plus'"
      [type]="'type-navbar'"
    ></mma-icon>
  </div>
  <span class="example-spacer"></span>
  <div class="toolbar-item">
    <span class="title-center">{{ headerText }}</span>
  </div>
</mat-toolbar>
