@import "../../../../styles/color-palette.scss";

footer {
  // background-color: map-get($fundamental-palette, navbar-beige);
  background-color: red;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
